:root {
    --primary:rgb(0, 160, 125);
    --secondary:rgb(70, 130, 180);
    --bgcolor:rgb(4, 63, 50);
    --text:rgb(200, 235, 225);

    --size: 1px;
    --field-size: calc(calc(var(--size)*0.60)/10);
    --field-color: var(--text);
    --block-color1: rgb(101, 179, 162);
    --block-color2: rgb(0, 65, 117);
    --block-color3: rgb(94, 181, 252);
    --block-color4: rgb(0, 145, 96);
    --body-color: var(--bgcolor);
}

body {
    display: flex;
    align-items: center;

    height: 98vh;
    width: 98vw;
    margin: 0px;

    font-family: sans-serif;
    background-color: var(--bgcolor);
}

#home {
    position: fixed;
    align-self: flex-start;

    margin-top: 2vh;
    margin-left: 2vw;

    font-size: 3vh;
    border: 1vh var(--secondary) solid;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--text);
    text-decoration: none;
}

#home:hover {
    border-color: rgb(51, 108, 155);
    background-color: rgb(51, 108, 155);
}

#content {
    display: grid;
    grid-template-rows: 5% 63% 32%;

    height: 95%;
    width: calc(calc(var(--field-size))*17);

    margin: auto;

    border-radius: 1em;
    background-color: var(--primary);
}

#pointCounter{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 6vh;
    color: var(--text);
}

.fieldFlex {
    display: flex;
    flex-direction: row;
}

.field {
    width: var(--field-size);
    height: var(--field-size);

    background-color: var(--field-color);
    border: 0.1px solid var(--bgcolor);
    border-radius: 0.3em;
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
}

#gameField {
    justify-self: center;
    align-self: center;
    background-color: var(--primary);
}

#blockChoice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100% !important;
    height: auto;
    width: calc(var(--field-size) * 6);
}

.blockFlex {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

.blockFieldFlex {
    display: flex;
}

.fieldBlock {
    background-color: var(--block-color1);
}

.block {
    width: var(--field-size);
    height: var(--field-size);

    border: 0.1px solid var(--primary);
    border-radius: 0em;
}


#blockChoice .bColor1 div .block:not(.noBColor){
    border: 0.1px solid var(--block-color1);
    border-radius: 0.3em;
}

#blockChoice .bColor2 div .block:not(.noBColor){
    border: 0.1px solid var(--block-color2);
    border-radius: 0.3em;
}

#blockChoice .bColor3 div .block:not(.noBColor){
    border: 0.1px solid var(--block-color3);
    border-radius: 0.3em;
}

#blockChoice .bColor4 div .block:not(.noBColor){
    border: 0.1px solid var(--block-color4);
    border-radius: 0.3em;
}

.bColor1{
    background-color: var(--block-color1);
}

.bColor2{
    background-color: var(--block-color2);
}

.bColor3{
    background-color: var(--block-color3);
}

.bColor4{
    background-color: var(--block-color4);
}

.noBColor{
    background-color: var(--primary) !important;
}

.breaks {
    position: absolute;
    visibility: hidden;
    height: calc(var(--field-size)/2);
    width: calc(var(--field-size)/2);
}

.numb1{
    border-top-left-radius: 0.3em;
    animation: ani1 11s;
}

@keyframes ani1 {
    from{
        visibility: visible;
    }
    5%{
        visibility: hidden;
    }
    10%{
        height: 0px;
        width: 0px;
    }
    to {
        top: 0px;
        left: 0px;
    }
}

.numb2{
    border-bottom-left-radius: 0.3em;
    animation: ani2 11s;
}

@keyframes ani2 {
    from{
        visibility: visible;
    }
    5%{
        visibility: hidden;
    }
    10%{
        height: 0px;
        width: 0px;
    }
    to {
        top: 100%;
        left: 0px;
    }
}

.numb3{
    border-top-right-radius: 0.3em;
    animation: ani3 11s;
}

@keyframes ani3 {
    from{
        visibility: visible;
    }
    5%{
        visibility: hidden;
    }
    10%{
        height: 0px;
        width: 0px;
    }
    to {
        top: 0px;
        left: 100%;
    }
}

.numb4{
    border-bottom-right-radius: 0.3em;
    animation: ani4 11s;
}

@keyframes ani4 {
    from{
        visibility: visible;
    }
    5%{
        visibility: hidden;
    }
    10%{
        height: 0px;
        width: 0px;
    }
    to {
        top: 100%;
        left: 100%;
    }
}