:root {
    --primary:rgb(0, 160, 125);
    --secondary:rgb(70, 130, 180);
    --bgcolor:rgb(4, 63, 50);
    --text:rgb(200, 235, 225);
}

body {
    display: flex;
    justify-content: center;

    height: 98vh;
    width: 98vw;

    font-family: sans-serif;
    color: var(--text);
    background-color: var(--bgcolor);
}


#content {
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;
    height: 10vh;
    width: 40vw;

    border-radius: 1em;
    background-color: var(--primary);
}

#AA {
    font-size: 2.5vh;
}

[type="number"]{
    text-align: start;
    text-align-last: start;

    background-color: var(--secondary);
    color: var(--text);
}

#submit{
    width: 8vw;
    
    color: var(--text);
    background-color: var(--secondary);
}

#submit:hover{
    width: 8.5vw;
    
    cursor: pointer;
    background-color: rgb(51, 108, 155);
}