@media (max-height: 800px) {
    #games {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
    }
    header *{
        font-size: 2em;
    }
    
    header h1{
        font-size: 3em;
    }
}

@media (max-height: 600px) {
    #games {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
    }
    header *{
        font-size: 1.5em;
    }
    
    header h1{
        font-size: 3em;
    }
}


@media (max-width: 1024px) {
    #games {
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.333%;
        grid-template-rows: 33.333% 33.333% 33.333%;
    }
    header *{
        font-size: 2em;
    }
    
    header h1{
        font-size: 3em;
    }
}


@media (max-width: 900px) {
    header *{
        font-size: 1.5em;
    }
    
    header h1{
        font-size: 3em;
    }
}

@media (max-width: 700px) {
    header *{
        font-size: 1.2em;
    }
    
    header h1{
        font-size: 2em;
    }
    
    .description {
        font-size: 1.2em;
    }
}


@media (max-width: 511px) {
    #games {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
    }
    header *{
        font-size: 1em;
    }
    
    header h1{
        font-size: 1.5em;
    }
    .description{
        font-size: 1em;
    }
}

@media (max-width: 449px) {
    header *{
        font-size: 0.8em;
    }
    
    header h1{
        font-size: 1.5em;
    }
}